@import '../../src/scss/variable.scss';
@import '../../src/scss/mixin.scss';
@import '../../src/scss/animate.scss';

.ymu-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &__input {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: $radio-icon-font-size;
    color:  $radio-default-icon-color;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
  }

  &__label {
    display: inline-block;
    margin-left: $radio-label-margin-left;
    font-size: $radio-label-font-size;
  }
}

.ymu-radio--checked {
  .ymu-radio__input {
    color: $radio-checked-icon-color;
  }
}

.ymu-radio--disabled {
  .icon-radio-outline,
  .icon-radio-fill {
    opacity: $radio-disabled-opacity;
  }
}
