@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $YMU_CUSTOM_VARS

.ymu-clocker {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}
