@import '../../src/scss/variable.scss';
@import '../../src/scss/mixin.scss';
@import '../../src/scss/animate.scss';

.ymu-clocker {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}
