@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

.ymu-clocker {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}
