@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';

.ym-flow {
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.ym-flow__line {

}

.ym-flow-main {
  font-size: 12px;
}

.ym-flow__icon {

}

.ym-flow--horizontal {
  flex: 1;
  text-align: center;
  .ym-flow-head {
    position: relative;
    height: 24px;
  }
  .ym-flow__icon {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%);
    background: #888;
    border-radius: 50%;
  }
  .ym-flow__line {
    position: absolute;
    top: 27px;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 1px;
    margin-left: 10%;
    transform: translateY(-50%);
    background: #888;
  }
  &:last-child {
    .ym-flow__line {
      display: none;
    }
  }
}

.ym-flow--vertical {
  display: flex;
  .ym-flow-head {
    position: relative;
    display: flex;
    width: 24px;
  }
  .ym-flow-main {
    padding-bottom: 10px;
  }
  .ym-flow__line {
    position: absolute;
    width: 1px;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    background: #888;
  }
  .ym-flow__icon {
    z-index: 3;
    position: absolute;
    left: 14px;
    left: 50%;
    width: 7px;
    height: 7px;
    transform: translateX(-50%);
    background: #888;
    border-radius: 50%;
  }
}

.ym-flow--process {
  .ym-flow__icon {
    background: red;
  }
}

.ym-flow--finish {
  .ym-flow__icon {
    width: 10px;
    height: 10px;
    background: red;
  }
}
