@import '../../src/scss/variable.scss';
@import '../../src/scss/mixin.scss';
@import '../../src/scss/animate.scss';

.ymu-calender__bd {
  font-size: 14px;
}

.ymu-calender {
  &__hd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 44px;
    > div {
      flex: 1;
      display: flex;
      height: 100%;
      padding: 0 12px;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    .ymuicon {
      font-size: 24px;
      color: #666;
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__col {
    flex: 1;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }
  .is-selected {
    span {
      display: block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      margin: 0 auto;
      background: #108ee9;
      color: #fff;
      font-size: 14px;
    }
  }
  .is-disabled {
    color: #ccc;
  }
}
