* {
	padding: 0;
	margin: 0;
}

body {
	color: #333;
	font-size: 16px;
	min-width: 1100px;
	overflow-x: auto;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: PingFang SC,Helvetica Neue,Arial,sans-serif
}

ul, li {
	// list-style: none;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 8px;
}

a {
	text-decoration: none
}

code {
	display: block;
	font-size: 13px;
	overflow-x: auto;
	font-weight: 400;
	line-height: 22px;
	border-radius: 3px;
	margin-bottom: 25px;
	position: relative;
	word-break: break-all;
	white-space: pre-wrap;
	color: #455a64;
	padding: 18px 10px 18px 20px;
	background-color: #f1f4f8;
	font-family: Source Code Pro,Monaco,Inconsolata,monospace
}

code:after {
	top: 5px;
	right: 10px;
	position: absolute;
	color: #ccc;
	font-size: 12px
}

pre {
	margin: 0
}

pre+pre {
	margin-top: -10px
}

code.language-html:after {
	content: "HTML"
}

code.language-javascript:after {
	content: "JS"
}

code.language-css:after {
	content: "CSS"
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: .5em;
	background: #fff
}

.hljs-subst {
	color: #455a64
}

.hljs-addition,.hljs-meta,.hljs-string,.hljs-symbol,.hljs-template-tag,.hljs-template-variable {
	color: #5758bb
}

.hljs-comment,.hljs-quote {
	color: #999
}

.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-regexp {
	color: #32a973
}

.hljs-deletion,.hljs-variable {
	color: #88f
}

.hljs-built_in,.hljs-doctag,.hljs-keyword,.hljs-name,.hljs-section,.hljs-selector-class,.hljs-selector-id,.hljs-selector-tag,.hljs-strong,.hljs-tag,.hljs-title,.hljs-type {
	color: #0079f3
}

.hljs-emphasis {
	font-style: italic
}

.hljs-attribute {
	color: #e6550d
}

.markdown-wrapper {
  table {
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 20px;
    background-color: #fff;
    border-collapse: collapse;
    color: #34495e;
    border-left: 1px #f1f4f8 solid;
    border-right: 1px #f1f4f8 solid;
    th {
      padding: 8px 20px;
      text-align: left;
      font-weight: 400;
      background-color: #f1f4f8;
    }
    td {
      padding: 4px 20px;
    }
    tr {
      border-bottom: 1px #f1f4f8 solid;
    }
  }
}