.ym-field {
  position: relative;
  display: flex;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 24px;
  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    display: block;
    left: 15px;
    right: 0;
    height: 1px;
    background-color: #eee;
  }
  .ym-icon-clear {
    display: block;
    width: 17px;
    height: 17px;
    color: #fff;
    font-style: normal;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-image: url(../../../icons/icon_clear.svg);
    background-position: 1.5px 1.5px;
    border-radius: 50%;
  }
}

.ym-field__bd {
  flex: 1;
}

.ym-field__label {
  padding-right: 10px;
}

.ym-field__ft {
  display: flex;
  align-items: center;
}

.ym-field__input {
  width: 100%;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  &:disabled {
    opacity: 1;
    color: #666;
    background-color: transparent;
  }
}

.ym-field__error-message {
  font-size: 12px;
  color: #f44;
}
