html, body {
  padding: 0;
  margin: 0;
}

div, p, span, a, label, ul, li {
  padding: 0;
  margin: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

.ym-icon {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  &::before {
    display: inline-block;
  }
}

.ymuicon {
  font-family: "ymuicon" !important;
  font-size: inherit;
  font-style: normal;
  &::before {
    display: inline-block;
  }
}