body {
  color: #333;
  font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
  background-color: #fafafa;
}

#app {
  min-height: 100vh;
}

.ym-doc-block__title {
  font-size: 16px;
  padding: 20px 12px 15px;
  color: rgba(69,90,100,.6);
  background-color: #fafafa;
}

.ym-doc-block__hd {
  font-size: 16px;
  padding: 20px 12px 15px;
  color: rgba(69,90,100,.6);
  background-color: #fafafa;
}

.ym-doc-block__bd {
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fafafa;
}

.ym-doc-ui-flex {
  display: flex;
  align-items: center;
}