body {
  color: #333;
  font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
  background-color: #fafafa;
}

#app {
  min-height: 100vh;
}

.ym-doc-block__title {
  font-size: 14px;
  padding: 20px 12px 15px;
  color: rgba(69,90,100,.6);
  background-color: #fafafa;
}

.ym-doc-title {
  padding: 10px 12px;
  color: #999999;
  font-size: 14px;
}
