body {
  color: #333;
  font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
  background-color: #f5f5f9;
}

#app {
  min-height: 100vh;
}

.ym-doc-block__title {
  padding: 25px 15px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  background-color: #f5f5f9;
}

.ym-doc-title {
  padding: 10px 12px;
  color: #999999;
  font-size: 14px;
  // padding-top: 30px;
}