body {
  color: #333;
  font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
  background-color: #efeff4;
}

#app {
  min-height: 100vh;
}

.ym-doc-block__title {
  padding: 25px 15px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  background-color: #efeff4;
}
