@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/animate.scss';

.ym-tabbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 12px;
  text-align: center;
}

.ym-tabbar-item__icon {
  position: relative;
}

.ym-tabbar-item__text {
  margin-top: 2px;
}

.ym-tabbar-icon {
  width: 22px;
  height: 22px;
}

.ym-tabbar-item__text {
  line-height: 1;
}

.ym-tabbar-item__icon--dot {
  &::after {
    content: " ";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ff5b05;
    border-radius: 50%;
  }
}

.ym-tabbar-item__badge {
  position: absolute;
  height: 18px;
  line-height: 18px;
  min-width: 9px;
  padding: 0 5px;
  margin-left: 6px;
  font-size: 10px;
  color: #fff;
  background-color: #ff5b05;
  border-radius: 12px;
  transform: translateX(50%);
}
