.ym-popup-content {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
}

@mixin transition {
  transition: transform 200ms ease-out;
}

//  bottom
.ym-popup--bottom {
  bottom: 0;
  left: 0;
}

.ym-popup--bottom-enter-active,
.ym-popup--bottom-leave-active {
  @include transition;
}

.ym-popup--bottom-enter,
.ym-popup--bottom-leave-to {
  transform: translate3d(0, 100%, 0);
}


//  top
.ym-popup--top {
  top: 0;
  left: 0;
}

.ym-popup--top-enter-active,
.ym-popup--top-leave-active {
  @include transition;
}

.ym-popup--top-enter,
.ym-popup--top-leave-to {
  transform: translate3d(0, -100%, 0);
}


//  right
.ym-popup--right {
  top: 0;
  left: 0;
}

.ym-popup--right-enter-active,
.ym-popup--right-leave-active {
  @include transition;
}

.ym-popup--right-enter,
.ym-popup--right-leave-to {
  transform: translate3d(100%, 0, 0);
}


//  left
.ym-popup--left {
  top: 0;
  left: 0;
}

.ym-popup--left-enter-active,
.ym-popup--left-leave-active {
  @include transition;
}

.ym-popup--left-enter,
.ym-popup--left-leave-to {
  transform: translate3d(-100%, 0, 0);
}
