@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $YMU_CUSTOM_VARS

.ymu-tab--active {
  color: royalblue;
}

.ymu-tab--disabled {
  color: #ccc;
}
