@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';

.ym-flows {
  position: relative;
  display: flex;
}

.ym-flows--vertical {
  flex-direction: column;
}
