@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $ymu_CUSTOM_VARS

.ymu-flows {
  position: relative;
  display: flex;
}

.ymu-flows--vertical {
  flex-direction: column;
}
