@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

.ymu-flow {
  position: relative;
  display: flex;
}

.ymu-flow--vertical {
  flex-direction: column;
}
