@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $YMU_CUSTOM_VARS

.ymu-field__bd {
  display: flex;
  flex: 1;
}

.ymu-field__label {
  padding-right: 10px;
}

.ymu-field__ft {
  display: flex;
  align-items: center;
  .icon {
    font-size: 18px;
    color: #999;
  }
}

.ymu-field__input {
  width: 100%;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  resize: none;
  &:disabled {
    opacity: 1;
    color: #666;
    background-color: transparent;
  }
}