.ym-toast {
  z-index: 10000;
  position: fixed;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;

  .ymuicon {
    font-size: 45px;
  }
}

.ym-toast--middle {
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  &-enter-active,
  &-leave-active {
    transition: all 1s ease;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.ym-toast--top {
  top: 0;
  transform: translate3d(-50%, 10px, 0);
  &-enter-active,
  &-leave-active {
    transition: all .4s;
  }
  &-enter,
  &-leave-to {
    transform: translate3d(-50%, -110%, 0);
  }
}

.ym-toast--bottom {
  bottom: 10px;
  transform: translate3d(-50%, 0, 0);
  &-enter-active,
  &-leave-active {
    transition: all .4s;
  }
  &-enter,
  &-leave-to {
    bottom: 0;
    transform: translate3d(-50%, 100%, 0);
  }
}
