@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $ymu_CUSTOM_VARS

.ymu-marquee {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
