@import '../../src/scss/variable.scss';
@import '../../src/scss/mixin.scss';
@import '../../src/scss/animate.scss';

.ymu-confirm__input {
  height: 36px;
  padding: 4px 6px;
  outline: 0;
  font-size: 14px;
  line-height: 20px;
  appearance: none;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid $border-color;
}
