@import '../style/variable';

.yus-cell {
  position: relative;
  line-height: 24px;
  padding: 10px 15px;
  font-size: 14px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__hd {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__bd {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
  }

  &__value {
    text-align: right;
  }

  &__value {
    display: flex;
    align-items: center;
  }

  &__media {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  &--border::after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    left: 12px;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    border-bottom: 1px solid #ebedf0;
  }

  &__subtitle {
    color: #ccc;
  }

  // 覆盖
  .yus-cell__icon-link {
    font-size: 18px;
    margin-right: -8px;
    margin-left: 5px;
    color: #b8bdc5;
  }
}

.yus-cell__icon-link--top {
  transform: rotate(90deg);
  transform-origin: center;
}

.yus-cell__icon-link--down {
  transform: rotate(-90deg);
  transform-origin: center;
}
