@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

@keyframes ymu-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*from vant*/
@keyframes ymu-circle {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

@keyframes ymu-triple-bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.ymu-loading {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;

  &__spinner {
    position: relative;
    width: 100%;
    height: 100%;
    &--circle {
      animation: ymu-loading 2s linear infinite;
    }
  }

  &__circle {
    width: 100%;
    height: 100%;
  }

  circle {
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    animation: ymu-circle 1.5s ease-in-out infinite;
  }

  .ymu-spinner-triple-bounce-item {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: $color-primary;
    animation: ymu-triple-bounce 1.5s ease-in-out infinite;
  }

  &--white {
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &--circle {
    width: 30px;
    height: 30px;
  }

  .ymu-spinner-triple-bounce-item:nth-child(3) {
    animation-delay: -.1s;
  }

  .ymu-spinner-triple-bounce-item:nth-child(2) {
    animation-delay: -.3s;
  }

  .ymu-spinner-triple-bounce-item:nth-child(3) {
    animation-delay: -.5s;
  }
}

/** spinner **/
@keyframes ymu-spinner--spinner {
  0%, 39%, 100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}

.ymu-spinner--spinner {
  width: 30px;
  height: 30px;
}

.ymu-spinner-spinner-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    width: 2px;
    height: 25%;
    content: ' ';
    display: block;
    margin: 0 auto;
    border-radius: 40%;
    background-color: currentColor;
    animation: ymu-spinner--spinner 1.2s infinite ease-in-out both;
  }

  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      transform: rotate(30deg * $i);
      &::before {
        animation-delay: -1.2s + 0.1s * $i;
      }
    }
  }
}

