@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

@keyframes ymu-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ymu-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

.ymu-spinner--circular {
  position: relative;
  width: 100%;
  height: 100%;
  animation: ymu-rotate 2s linear infinite;

  .circular {
    width: 100%;
    height: 100%;
  }

  .line {
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    animation: ymu-circular 1.5s ease-in-out infinite;
  }
}
