@import '../../../theme/vars.scss';
@import '../../../style/mixin.scss';
@import '../../../style/animate.scss';

.ym-cell {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  &::after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    left: 15px;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-bottom: 1px solid $border-default-color;
  }
}

.ym-cell__media {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}

.ym-cell__title {
  display: flex;
  align-items: center;
  flex: 1;
}

.ym-cell__value {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.ym-icon-arrow-right {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: -4px;
}
