@import './variable.scss';

// 可点击反馈
@mixin ymu-clickable {
  user-select: none;
}

@mixin slider-box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

// 1px 边框
@mixin ymu-border-1px ($color) {
  border: 1px solid $color;
}

@mixin border-top-1px () {
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0px;
    border-top: 1px solid $border-color;
    transform-origin: 0 0;
    transform: scaleY(.5);
  }
}

.ymu-border-1px {

}

.ymu-border-top-1px {
  position: relative;
}

.ymu-border-bottom-1px {
  position: relative;
}

.ymu-border-top-1px {
  position: relative;
}

.ymu-border-bottom-1px {
  position: relative;
}
