// Colors -----------------------------------------------------------------------
$color-primary: #108ee9;
$color-secondary: #32db64;
$color-danger: #e94f4f;
$color-light:  #f4f4f4;
$color-dark:  #222;

// Common vars -------------------------------------------------------------------
// active State
$click-active-bg-color: #e8e8e8;
// layout herizontal padding
$layout-herizontal-padding: 12px;
// border color
$border-color: #e8e8e8;

// Button ------------------------------------------------------------------------
$button-large-height: 50px;
$button-large-font-size: 14px;
$button-large-border-radius: 2px;
$button-large-herizontal-padding: 18px;
$button-large-herizontal-round-radius: 64px;
$button-large-herizontal-round-padding: 30px;
// size normal
$button-normal-height: 44px;
$button-normal-font-size: 14px;
$button-normal-border-radius: 2px;
$button-normal-herizontal-padding: 15px;
$button-normal-herizontal-round-radius: 64px;
$button-normal-herizontal-round-padding: 30px;
// size small
$button-small-height: 36px;
$button-small-font-size: 14px;
$button-small-border-radius: 2px;
$button-small-herizontal-padding: 15px;
$button-small-herizontal-round-radius: 40px;
$button-small-herizontal-round-padding: 20px;
// size mini
$button-mini-height: 28px;
$button-mini-font-size: 12px;
$button-mini-border-radius: 2px;
$button-mini-herizontal-padding: 12px;
$button-mini-herizontal-round-radius: 30px;
$button-mini-herizontal-round-padding: 15px;
// type primary
$button-primary-bg-color: #108ee9;
$button-primary-font-color: #fff;
// type light
$button-light-bg-color: #fff;
$button-light-font-color: inherit;
$button-light-border-color: #ddd;
// type danger
$button-danger-bg-color: #f44;
$button-danger-font-color: #fff;
// type warn
$button-warn-bg-color: #ff976a;
$button-warn-font-color: #fff;
// block state
$button-block-font-size: 16px;
// disabled state
$button-disabled-opacity: 0.5;
// active state
$button-active-opacity: 0.2;

// Backdrop -------------------------------------------------------------------------
$backdrop-zindex: 900;
$backdrop-bg: rgba(0, 0, 0, .6);


// Actionsheet ----------------------------------------------------------------------
$actionsheet-content-bg: #efeff4;
$actionsheet-menu-font-size: 18px;
$actionsheet-menu-disabled-color: #ccc;
$actionsheet-cell-vertical-padding: 10px;
$actionsheet-cancel-margin-top: 6px;


// Cell -----------------------------------------------------------------------------
$cell-media-margin-right: 8px;
$cell-label-color: inherit;
$cell-value-color: inherit;
$cell-placeholder-color: inherit;
$cell-font-size: 14px;
$cell-herizontal-padding: $layout-herizontal-padding;
$cell-line-height: 24px;

// CellGroup
$cell-group-herizontal-padding: $layout-herizontal-padding;
$cell-group-title-font-size: 16px;
$cell-group-title-color: inherit;

// Checkbox ---------------------------------------------------------------------------
$checkbox-default-icon-color: #969799;
$checkbox-checked-icon-color: $color-primary;
$checkbox-disabled-opacity: 0.5;
$checkbox-label-font-size: 16px;
$checkbox-label-line-height: 24px;
$checkbox-label-margin-left: 8px;
$checkbox-icon-font-size: 22px;
$checkbox-cell-bg-color: #fff;
$checkbox-cell-line-height: 24px;
$checkbox-cell-vertical-padding: 10px;
$checkbox-cell-horizontal-padding: 12px;

// Radio -------------------------------------------------------------------------------
$radio-default-icon-color: #969799;
$radio-checked-icon-color: $color-primary;
$radio-disabled-opacity: 0.5;
$radio-label-font-size: 16px;
$radio-label-line-height: 24px;
$radio-label-margin-left: 8px;
$radio-icon-font-size: 22px;

// Collapse ----------------------------------------------------------------------------
$collapse-item-herizontal-padding: $layout-herizontal-padding;
$collapse-item-vertical-padding: 10px;
$collapse-item-line-height: 24px;
$collapse-item-content-padding-bottom: 16px;
$collapse-item-transition-duration: 300ms;
$collapse-item-bottom-border-color: $border-color;


// Dialog ---------------------------------------------------------------------------
$dialog-width: 80%;
$dialog-max-width: 300px;
$dialog-border-radius: 3px;

$dialog-head-font-size: 16px;
$dialog-head-font-weigth: 600;
$dialog-head-vertical-padding: 15px;
$dialog-head-horizontal-padding: 15px;

$dialog-body-min-height: 40px;
$dialog-body-padding-top: 0;
$dialog-body-padding-bottom: 12px;
$dialog-body-horizontal-padding: 24px;
$dialog-body-font-size: 15px;
$dialog-body-line-height: 1.5;
$dialog-body-font-color: #999;

$dialog-button-text-primary-color: #f90;
$dialog-button-text-default-color: #353535;
$dialog-button-text-warn-color: #E64340;
$dialog-button-text-error-color: #E64340;
$dialog-button-text-font-size: 16px;

$dialog-foot-font-size: 16px;
$dialog-foot-line-height: 48px;