@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $ymu_CUSTOM_VARS

.ymu-cell-group {
  position: relative;
  .ymu-cell:last-child,
  .ymu-field:last-child {
    &::after {
      display: none;
    }
  }
}

.ymu-cell-group__bd {
  position: relative;
  background-color: #fff;
  &::after,
  &::before {
    content: " ";
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid $border-color;
    transform: translateY(0.5);
    transform-origin: 0 0;
  }
  &::after {
    bottom: 0;
  }
  &::before {
    top: 0;
  }
}

.ymu-cell-group__title {
  padding: 10px $cell-group-herizontal-padding;
  color: $cell-group-title-color;
  font-size: $cell-group-title-font-size;
}
