.ymu-button-tab-item {
  flex: 1;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
  border-right: 1px solid #f5f5f5;
  box-sizing: border-box;
}

.ymu-button-tab-item--active {
  color: #fff;
  font-weight: bold;
  background-color: #38f;
}

.ymu-button-tab-item--disabled {
  opacity: .4;
}

.ymu-button-tab-item--last {
  border-right: none;
}