@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $YMU_CUSTOM_VARS

.ymu-actionsheet__content {
  z-index: $backdrop-zindex + 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $actionsheet-content-bg;
  transform: translateY(100%);
  transition: transform .3s;
}

.ymu-actionsheet__cell {
  position: relative;
  padding-top: $actionsheet-cell-vertical-padding;
  padding-bottom: $actionsheet-cell-vertical-padding;
  font-size: $actionsheet-menu-font-size;
  text-align: center;
  background-color: #fff;
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0px;
    border-top: 1px solid $border-color;
    transform-origin: 0 0;
    transform: scaleY(.5);
  }
}

.ymu-actionsheet__cell--disabled {
  color: $actionsheet-menu-disabled-color;
}

.ymu-actionsheet__cancel {
  margin-top: $actionsheet-cancel-margin-top;
}

.ymu-actionsheet__content--show {
  transform: translate(0);
}

.ymu-actionsheet__cell--clickable {
  user-select: none;
  &:active {
    background-color: $click-active-bg-color;
  }
}
