// function color
@color-black: #333;
@color-primary: #07c160;
@color-info: #1989fa;
@color-danger: #f44;
@color-warn: #ff976a;

// border 边框
@border-color: #ebedf0;

// divider 分割线
@divider-color: #ebedf0;

// link 链接
@link-color: @color-info;

// backdrop
@backdrop-bg-color: rgba(0, 0, 0, .4);

// button
@button-large-height: 52px;
@button-large-font-size: 16px;
@button-normal-height: 44px;
@button-normal-font-size: 14px;
@button-small-height: 36px;
@button-small-font-size: 14px;
@button-mini-height: 28px;
@button-mini-font-size: 12px;

// cell
@cell-link-arrow-color: #999;

// nav-bar
@nav-bar-height: 46px;
@nav-bar-font-size: 14px;

// slider
@slider-height: 24px;
@slider-thumb-width: 24px;
@slider-thumb-height: 24px;
@slider-runway-height: 2px;
@slider-runway-bg-color: #EBEBEB;
@slider-track-bg-color: @color-primary;
@slider-thumb-bg-color: #fff;
@slider-disabled-opacity: .6;

// tabbar
@tabbar-height: 46px;
@tabbar-bg-color: #fff;
@tabbar-text-font-size: 12px;
@tabbar-icon-margin-top: 0;
@tabbar-icon-width: 22px;
@tabbar-icon-height: 22px;
@tabbar-dot-width: 6px;
@tabbar-dot-height: 6px;
@tabbar-dot-bg-color: #ff5b05;
@tabbar-badge-height: 18px;
@tabbar-badge-min-width: 9px;
@tabbar-badge-font-size: 10px;
@tabbar-badge-margin-left: 6px;
@tabbar-badge-horizontal-padding: 5px;
@tabbar-badge-font-color: #fff;
@tabbar-badge-border-radius: 12px;
@tabbar-badge-bg-color: #ff5b05;