.ym-radio {
  display: flex;
  align-items: center;
}

.ym-radio__input {
  position: relative;
  width: 16px;
  height: 16px;
}

.ym-radio__control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
}

.ym-radio__label {
  margin-left: 5px;
}

.ym-radio--disabled {
  .ym-radio__input {
    color: #ccc;
  }
}