@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/animate.scss';

.ym-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &__input {
    position: relative;
    display: inline-block;
    line-height: 1;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
  }

  &__label {
    display: inline-block;
    margin-left: $radio-label-margin-left;
    font-size: $radio-label-font-size;
  }

  .icon-radio-outline,
  .icon-radio-fill {
    font-size: $radio-icon-font-size;
    line-height: 1;
  }

  .icon-radio-outline {
    color: $radio-default-color;
  }

  .icon-radio-fill {
    color: $radio-checked-color;
  }
}

.ym-radio--disabled {
  .icon-radio-outline,
  .icon-radio-fill {
    opacity: $radio-disabled-opacity;
  }
}
