@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/animate.scss';

.ym-dialog-enter,
.ym-dialog-leave-to {
  opacity: 0;
  transform: scale(0.4);
}

.ym-dialog-enter-active,
.ym-dialog-leave-active {
  transition: all 300ms;
}

.ym-dialog {
  overflow: hidden;
  z-index: $backdrop-zindex + 100;
  position: fixed;
  display: table;
  width: 80%;
  max-width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
}

.ym-dialog__hd {
  padding: 15px 15px 15px;
  font-size: 16px;
}

.ym-dialog__bd {
  padding: 0 24px 12px;
  min-height: 40px;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
  color: #999;
}

.ym-dialog__ft {
  position: relative;
  display: flex;
  line-height: 48px;
  font-size: 18px;
  text-align: center;
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d5d5d6;
    transform-origin: 0 0;
    transform: scaleY(.5);
  }
}

.ym-dialog__btn {
  position: relative;
  display: block;
  flex: 1;
  font-size: 16px;
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid #d5d5d6;
    transform-origin: 0 0;
    transform: scaleX(.5);
  }
  &:first-child {
    &::before {
      display: none;
    }
  }
  &--default {
    color: #353535;
  }
  &--primary {
    color: #f90;
  }
}
