@import '../../src/scss/variable.scss';
@import '../../src/scss/mixin.scss';
@import '../../src/scss/animate.scss';

.ymu-button-tabs {
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
}
