.ym-cell-group {
  position: relative;
  .ym-cell:last-child,
  .ym-field:last-child {
    &::after {
      display: none;
    }
  }
}

.ym-cell-group__bd {
  position: relative;
  background-color: #fff;
  &::after {
    content: " ";
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #ccc;
  }
  &::before {
    content: " ";
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: #ccc;
  }
}

.ym-cell-group__title {
  padding: 10px 12px;
  color: #999999;
  font-size: 14px;
}
