@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

.ymu-pagination {
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  // display: flex;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
}

.ymu-pagination-item {
  position: relative;
  float: left;
  // flex: 1;
  // flex-grow: 0;
  display: inline-block;
  height: 36px;
  min-width: 36px;
  background-color: #fff;
  box-sizing: border-box;
  &::after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    transform: scale(0.5);
    border: 0 solid #ebedf0;
    border-width: 1px 0 1px 1px;
  }
}

.ymu-pagination-next,
.ymu-pagination-prev {
  flex-grow: 1;
  padding: 0 10px;
}

.ymu-pagination-item--active {
  color: #fff;
  background: $color-primary;
}

.ymu-pagination-item--disabled {
  color: #ccc;
}