@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/animate.scss';

.ym-tabbar {
  position: relative;
  display: flex;
  height: 46px;
  background-color: #fff;

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
