@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

.ymu-tabs-wrap {
  position: relative;
  display: flex;
  .ymu-tab {
    flex: 1;
    padding: 10px 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

.ymu-tabs-line {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 25%;
  background: green;
  transition: all 300ms;
  transform: scaleX(.4);
}
