$range-default-bg-color: #EBEBEB;
$range-active-bg-color: #26a2ff;
$range-height: 30px;
$range-thumb-width: 30px;
$range-thumb-height: 30px;

@mixin range-box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.wui-range {

  position: relative;
  display: flex;
  align-items: center;
  height: $range-height;
  line-height: $range-height;

  &-content {
    position: relative;
    height: 100%;
    flex: 1;
    margin-right: $range-thumb-width;
  }

  &__runway {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: -$range-thumb-width;
    // right: 0;
    background-color: $range-default-bg-color;
  }

  &__track {
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 100%;
    background-color: $range-active-bg-color;
  }

  &__thumb {
    position: absolute;
    width: $range-thumb-width;
    height: $range-thumb-height;
    top: 50%;
    cursor: move;
    background-color: #fff;
    border-radius: 50%;
    transform: translate3d(0, -50%, 0);
    @include range-box-shadow;

    &.is-active {
      z-index: 15;
    }
  }
}
