@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $ymu_CUSTOM_VARS

.ymu-backdrop {
  z-index: $backdrop-zindex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $backdrop-bg;
}

.ymu-backdrop-enter,
.ymu-backdrop-leave-active {
  opacity: 0;
}

.ymu-backdrop-leave-active,
.ymu-backdrop-enter-active {
  transition: opacity 300ms;
}
