@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/animate.scss';

@mixin grayLoading {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(../../../icons/loading_gray.svg);
  background-size: 100%;
  animation: ymLoading 1s steps(12, end) infinite;
}

@mixin whiteLoading {
  @include grayLoading;
  background-image: url(../../../icons/loading_white.svg);
}

.ym-button {
  position: relative;
  border: 0;
  padding: 0;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  img {
    vertical-align: middle;
  }
  &:focus {
    outline: none;
  }
  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: #000;
    background-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
  }
  &:active::before {
    opacity: 0.2;
  }
}

.ym-button--large {
  height: $button_large_height;
  font-size: $button_large_font_size;
  line-height: $button_large_height;
  padding-left: $button_large_herizontal_padding;
  padding-right: $button_large_herizontal_padding;
  &.ym-button--radius {
    border-radius: $button_large_border_radius;
  }
  &.ym-button--round {
    padding-left: $button_large_herizontal_round_padding;
    padding-right: $button_large_herizontal_round_padding;
    border-radius: $button_large_herizontal_round_radius;
  }
  &.ym-button--plain {
    line-height: $button_large_height - 2;
  }
}

.ym-button--normal {
  height: $button_normal_height;
  font-size: $button_normal_font_size;
  line-height: $button_normal_height;
  padding-left: $button_normal_herizontal_padding;
  padding-right: $button_normal_herizontal_padding;
  &.ym-button--radius {
    border-radius: $button_normal_border_radius;
  }
  &.ym-button--round {
    padding-left: $button_normal_herizontal_round_padding;
    padding-right: $button_normal_herizontal_round_padding;
    border-radius: $button_normal_herizontal_round_radius;
  }
  &.ym-button--plain {
    line-height: $button_normal_height - 2;
  }
}

.ym-button--small {
  height: $button_small_height;
  font-size: $button_small_font_size;
  line-height: $button_small_height;
  padding-left: $button_small_herizontal_padding;
  padding-right: $button_small_herizontal_padding;
  &.ym-button--radius {
    border-radius: $button_small_border_radius;
  }
  &.ym-button--round {
    padding-left: $button_small_herizontal_round_padding;
    padding-right: $button_small_herizontal_round_padding;
    border-radius: $button_small_herizontal_round_radius;
  }
  &.ym-button--plain {
    line-height: $button_small_height - 2;
  }
}

.ym-button--mini {
  height: $button_mini_height;
  font-size: $button_mini_font_size;
  line-height: $button_mini_height;
  padding-left: $button_mini_herizontal_padding;
  padding-right: $button_mini_herizontal_padding;
  &.ym-button--radius {
    border-radius: $button_mini_border_radius;
  }
  &.ym-button--round {
    padding-left: $button_mini_herizontal_round_padding;
    padding-right: $button_mini_herizontal_round_padding;
    border-radius: $button_mini_herizontal_round_radius;
  }
  &.ym-button--plain {
    line-height: $button_mini_height - 2;
  }
}

// 按钮类型维度
.ym-button--light {
  background-color: $button_light_bg_color;
  border-color: transparent;
  border: 1px solid $button_light_border_color;
  .ym-loading {
    @include grayLoading;
  }
  &.ym-button--plain {
    color: $button_light_font_color;
    background: transparent;
    border: 1px solid $button_light_border_color;
  }
  &.ym-button--clear {
    color: $button_light_font_color;
    background: transparent;
    border: none;
  }
}

.ym-button--primary {
  color: $button_primary_font_color;
  background-color: $button_primary_bg_color;
  border-color: transparent;
  .ym-loading {
    @include whiteLoading;
  }
  &.ym-button--plain {
    color: $button_primary_bg_color;
    background: transparent;
    border: 1px solid $button_primary_bg_color;
  }
  &.ym-button--clear {
    color: $button_primary_bg_color;
    background: transparent;
    border: none;
  }
}

.ym-button--warn {
  color: $button_warn_font_color;
  background-color: $button_warn_bg_color;
  border-color: transparent;
  .ym-loading {
    @include whiteLoading;
  }
  &.ym-button--plain {
    color: $button_warn_bg_color;
    background: transparent;
    border: 1px solid $button_warn_bg_color;
  }
  &.ym-button--clear {
    color: $button_warn_bg_color;
    background: transparent;
    border: none;
  }
}

.ym-button--danger {
  color: $button_danger_font_color;
  background-color: $button_danger_bg_color;
  border-color: transparent;
  .ym-loading {
    @include whiteLoading;
  }
  &.ym-button--plain {
    color: $button_danger_bg_color;
    background: transparent;
    border: 1px solid $button_danger_bg_color;
  }
  &.ym-button--clear {
    color: $button_danger_bg_color;
    background: transparent;
    border: none;
  }
}

// block state
.ym-button--block {
  display: block;
  width: 100%;
  font-size: $button_block_font_size;
}

// inline state
.ym-button--inline {
  display: inline-block;
}

// disabled state
.ym-button--disabled {
  opacity: .5;
  &::before {
    display: none;
  }
}
