@import '../../src/scss/variable.scss';
@import '../../src/scss/mixin.scss';
@import '../../src/scss/animate.scss';

.ymu-tabbar {
  position: relative;
  display: flex;
  height: 46px;
  background-color: #fff;

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
