@import '../../src/scss/vars';
@import '../../src/scss/mixins';
@import '../../src/scss/animate';

.ymu-tabbar {
  position: relative;
  display: flex;
  height: 46px;
  background-color: #fff;

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
