@import '../../src/styles/variable.scss';
@import '../../src/styles/mixin.scss';
@import '../../src/styles/animate.scss';
// $YMU_CUSTOM_VARS

.ymu-tabbar {
  position: relative;
  display: flex;
  height: 46px;
  background-color: #fff;

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
