.ymu-pull-refresh-indictor {
  height: 30px;
  font-size: 14px;
  margin-top: -30px;
  color: #999;
  text-align: center;
}

.ymu-pull-refresh-wrapper {
  overflow: hidden;
  // overflow: scroll;
  // touch-action: none;
}

.ymu-pull-refresh-container {
  transition-property: transform;
}